body {
  width: 70%;
  padding-top: 5%;
  text-align: center;
  margin: 0 auto;
  background-color: bisque;
}

button {
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid goldenrod;
}
input {
  padding: 20px;
  text-align: center;
}
